# =========================
# 🐍 Python
# =========================
__pycache__/
*.pyc
.venv/
.env
*.env

# =========================
# 🧱 Build & Distribution
# =========================
/dist/
/build/
*.spec

# =========================
# 💻 IDE / Editor Settings
# =========================
.vscode/

# =========================
# 🪟 OS / System Files
# =========================
.DS_Store
Thumbs.db

# =========================
# 🧾 Logs & Temp
# =========================
*.log
